.button29 {
  position: relative;
  line-height: 20px;
  font-weight: 500;
}
.button28,
.button30 {
  border-radius: var(--br-3xs);
  background-color: var(--gray-7);
  width: 128px;
  height: 48px;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  padding: var(--padding-4xs) var(--padding-11xl);
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
}
.button30 {
  width: 124px;
}
.button33 {
  position: relative;
  line-height: 21px;
}
.button32 {
  border-radius: var(--br-3xs);
  background-color: var(--primary-primary);
  width: 124px;
  height: 48px;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  padding: var(--padding-4xs) var(--padding-11xl);
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  color: var(--white-white);
}
.iconclose-item {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--color-silver-100);
}
.vector-icon1 {
  position: absolute;
  height: 58.33%;
  width: 58.33%;
  top: 20.83%;
  right: 20.83%;
  bottom: 20.83%;
  left: 20.83%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.iconclose1 {
  position: relative;
  width: 24px;
  height: 24px;
  flex-shrink: 0;
}
.close-icon1 {
  width: 493px;
  height: 48px;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
}
.button-group,
.top4 {
  display: flex;
  justify-content: flex-start;
}
.button-group {
  flex-direction: row;
  align-items: flex-start;
  gap: var(--gap-xl);
}
.top4 {
  background-color: var(--white-white);
  box-shadow: 0 6px 30px rgba(15, 15, 15, 0.06);
  flex-direction: column;
  padding: var(--padding-base) var(--padding-5xs) var(--padding-base)
    var(--padding-484xl);
  align-items: flex-end;
  font-size: var(--body-bodi-14-regular-size);
  color: var(--gray-3);
}
.top-bangkok-tours1 {
  position: relative;
  line-height: 45px;
  font-weight: 600;
}
.image-icon8 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.button34 {
  position: absolute;
  top: 20px;
  left: 20px;
  border-radius: var(--br-9xs);
  background-color: var(--gray-21);
  display: flex;
  flex-direction: row;
  padding: var(--padding-8xs) var(--padding-base);
  align-items: center;
  justify-content: center;
  opacity: 0.8;
}
.image11 {
  position: relative;
  width: 370px;
  height: 239px;
  flex-shrink: 0;
}
.thailands-ayutthaya-temples-container3 {
  position: absolute;
  top: 0;
  left: 0;
  line-height: 28px;
  font-weight: 500;
}
.reviews9,
.top5 {
  position: relative;
}
.top5 {
  width: 258px;
  height: 56px;
  flex-shrink: 0;
}
.reviews9 {
  line-height: 27px;
  font-weight: 500;
}
.review8 {
  width: 129px;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.duration-9-hours3 {
  position: relative;
  line-height: 20px;
  font-weight: 500;
  font-family: var(--body-bodi-14-regular);
  color: var(--gray-21);
}
.ratting3 {
  width: 330px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-size: var(--body-bodi-14-regular-size);
  color: var(--c3);
  font-family: var(--font-roboto);
}
.tittle9 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-3xs);
}
.button37 {
  position: relative;
  font-weight: 500;
}
.button36 {
  border-radius: var(--br-5xs);
  background-color: var(--primary-primary);
  display: flex;
  flex-direction: row;
  padding: var(--padding-5xs) var(--padding-mid) var(--padding-4xs);
  align-items: center;
  justify-content: center;
  font-size: var(--body-bodi-14-regular-size);
  color: var(--gray-6);
}
.content16,
.content17 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap-xl);
}
.content17 {
  align-items: flex-start;
  font-size: var(--body-bodi-18-medium-size);
  color: var(--gray-1);
  font-family: var(--body-bodi-14-regular);
}
.content16 {
  align-items: center;
}
.button38,
.card11 {
  display: flex;
  flex-direction: row;
}
.card11 {
  border-radius: var(--br-3xs);
  background-color: var(--white-white);
  box-shadow: 0 12px 64px rgba(0, 0, 0, 0.06);
  padding: 0 0 var(--padding-sm);
  align-items: flex-start;
  justify-content: flex-start;
}
.button38 {
  position: absolute;
  top: 22px;
  left: 20px;
  border-radius: var(--br-9xs);
  background-color: var(--gray-21);
  padding: var(--padding-8xs) var(--padding-base);
  align-items: center;
  justify-content: center;
  opacity: 0.8;
}
.top6,
.top7 {
  position: relative;
  width: 275px;
  height: 56px;
  flex-shrink: 0;
}
.top7 {
  width: 261px;
}
.cards3,
.top-bangkok-tours-parent {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-11xl);
}
.cards3 {
  flex-direction: row;
  font-size: var(--caption-12-medium-size);
  color: var(--black-to-white-travel-travel-ui-8);
  font-family: var(--caption-12-medium);
}
.top-bangkok-tours-parent {
  flex-direction: column;
}
.cards2 {
  background-color: var(--white-white);
  display: flex;
  flex-direction: column;
  padding: var(--padding-21xl) var(--padding-116xl) var(--padding-xl);
  align-items: center;
  justify-content: center;
}
.bridge-on-the {
  margin: 0;
}
.top10,
.top8,
.top9 {
  position: relative;
  width: 340px;
  height: 56px;
  flex-shrink: 0;
}
.top10,
.top9 {
  width: 309px;
}
.top10 {
  width: 311px;
}
.button58,
.cards4 {
  background-color: var(--white-white);
  display: flex;
  flex-direction: column;
  padding: var(--padding-11xl) var(--padding-116xl) var(--padding-21xl);
  align-items: center;
  justify-content: center;
}
.button58 {
  position: absolute;
  top: 20px;
  left: 20px;
  border-radius: var(--br-9xs);
  background-color: var(--gray-21);
  flex-direction: row;
  padding: var(--padding-8xs) var(--padding-base);
  opacity: 0.9;
}
.button83 {
  position: relative;
  line-height: 36px;
  font-weight: 600;
}
.button82 {
  border-radius: var(--br-11xl);
  background-color: var(--primary-primary);
  display: flex;
  flex-direction: row;
  padding: var(--padding-4xs) var(--padding-16xl) var(--padding-4xs)
    var(--padding-15xl);
  align-items: center;
  justify-content: center;
  font-size: var(--heading-h3-size);
  color: var(--gray-6);
}
.logo-icon1 {
  position: relative;
  width: 20.24px;
  height: 24.17px;
  flex-shrink: 0;
}
.logo3 {
  border-radius: var(--br-xs);
  background-color: var(--primary-primary);
  display: flex;
  flex-direction: row;
  padding: var(--padding-5xs) var(--padding-3xs);
  align-items: center;
  justify-content: center;
}
.tittle21 {
  position: relative;
  font-weight: 800;
}
.logo2 {
  width: 120.24px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.similarly-a-loan1 {
  position: relative;
  line-height: 24px;
  display: inline-block;
  width: 268px;
}
.enter-your-email1 {
  position: relative;
  line-height: 24px;
  font-weight: 500;
}
.iconsarrow-right-2line1 {
  position: relative;
  width: 23px;
  height: 23px;
  flex-shrink: 0;
  overflow: hidden;
}
.iconcircle1,
.search-bar1 {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.iconcircle1 {
  border-radius: var(--br-11xl);
  background-color: var(--primary-primary);
  width: 33px;
  height: 33px;
  flex-shrink: 0;
  padding: var(--padding-3xs);
  box-sizing: border-box;
  justify-content: center;
}
.search-bar1 {
  width: 219px;
  justify-content: space-between;
}
.left1,
.search-input1,
.subscrive-button1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.search-input1 {
  border-radius: var(--br-5xl);
  border: 2px solid var(--gray-5);
  padding: var(--padding-5xs) var(--padding-5xs) var(--padding-5xs)
    var(--padding-7xl);
  justify-content: center;
  color: var(--gray-4);
}
.left1,
.subscrive-button1 {
  justify-content: flex-start;
  gap: var(--gap-11xl);
  text-align: left;
  font-size: var(--body-bodi-16-regular-size);
  font-family: var(--body-bodi-14-regular);
}
.left1 {
  gap: var(--gap-21xl);
  text-align: center;
  font-size: var(--heading-inter-20-bold-size);
  font-family: var(--font-gilroy);
}
.services5 {
  position: relative;
  line-height: 36px;
  font-weight: 500;
}
.trip-planner1 {
  position: relative;
  line-height: 24px;
}
.services4,
.trip-planner-group {
  width: 104px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.trip-planner-group {
  gap: var(--gap-sm);
  font-size: var(--body-bodi-16-regular-size);
  color: var(--gray-3);
}
.services4 {
  flex-shrink: 0;
  gap: var(--gap-xl);
}
.account-group {
  width: 139px;
  gap: var(--gap-sm);
  font-size: var(--body-bodi-16-regular-size);
  color: var(--gray-3);
}
.account-group,
.success-group,
.support2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.support2 {
  width: 139px;
  flex-shrink: 0;
  gap: var(--gap-xl);
}
.success-group {
  width: 102px;
  gap: var(--gap-sm);
  font-size: var(--body-bodi-16-regular-size);
  color: var(--gray-3);
}
.business2,
.services3 {
  flex-shrink: 0;
  display: flex;
  align-items: flex-start;
}
.business2 {
  width: 103px;
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap-xl);
}
.services3 {
  height: 232px;
  flex-direction: row;
  justify-content: center;
  gap: var(--gap-133xl);
}
.devider1 {
  position: relative;
  background-color: var(--gray-5);
  width: 1100px;
  height: 1px;
  flex-shrink: 0;
}
.contents5 {
  width: 1100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-52xl);
}
.copyright-2021-uihut1 {
  position: relative;
  line-height: 20px;
}
.twitter-icon1 {
  position: absolute;
  height: 75%;
  width: 91.67%;
  top: 12.5%;
  right: 4.17%;
  bottom: 12.5%;
  left: 4.17%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.botom1,
.social1 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-sm);
}
.botom1 {
  gap: var(--gap-602xl);
  font-size: var(--body-bodi-14-regular-size);
  color: var(--gray-4);
}
.contents4,
.footer1,
.tour {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contents4 {
  width: 1100px;
  justify-content: flex-start;
  gap: var(--gap-21xl);
}
.footer1,
.tour {
  background-color: var(--white-white);
}
.footer1 {
  padding: var(--padding-49xl) var(--padding-151xl);
  justify-content: center;
  font-size: var(--heading-h3-size);
}
.tour {
  position: relative;
  width: 100%;
  justify-content: flex-start;
  gap: var(--gap-11xl);
  text-align: left;
  font-size: var(--heading-h2-size);
  color: var(--gray-21);
  font-family: var(--body-bodi-14-regular);
}
