.logo-icon2 {
  position: relative;
  width: 20.24px;
  height: 24.17px;
  flex-shrink: 0;
}
.logo5 {
  border-radius: var(--br-xs);
  background-color: var(--primary-primary);
  display: flex;
  flex-direction: row;
  padding: var(--padding-5xs) var(--padding-3xs);
  align-items: center;
  justify-content: center;
}
.tittle3 {
  position: relative;
  font-weight: 800;
}
.logo4 {
  width: 120.24px;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  font-family: var(--font-gilroy);
}
.things-to-do1 {
  position: relative;
  line-height: 24px;
  font-weight: 500;
}
.middle1 {
  width: 250px;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-size: var(--body-bodi-16-bold-size);
}
.currency2 {
  position: relative;
  line-height: 21px;
}
.currency-group {
  width: 106px;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-xs);
}
.right-item {
  position: relative;
  background-color: var(--gray-4);
  width: 1px;
  height: 32px;
  flex-shrink: 0;
  opacity: 0.5;
}
.image-item {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-lgi);
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.image1 {
  position: relative;
  width: 32px;
  height: 32px;
  flex-shrink: 0;
}
.right1 {
  width: 169px;
  flex-direction: row;
  justify-content: space-between;
  font-size: var(--subtitle2-14-medium-size);
  color: var(--gray-3);
}
.content1,
.right1,
.top1 {
  flex-shrink: 0;
  display: flex;
  align-items: center;
}
.content1 {
  height: 40.17px;
  flex-direction: row;
  justify-content: flex-start;
  gap: var(--gap-371xl);
}
.top1 {
  background-color: var(--c9);
  box-shadow: 0 6px 30px rgba(15, 15, 15, 0.06);
  width: 1439.24px;
  height: 100.17px;
  flex-direction: column;
  padding: var(--padding-11xl) var(--padding-41xl);
  box-sizing: border-box;
  justify-content: center;
  font-size: var(--heading-inter-20-bold-size);
  font-family: var(--body-bodi-16-bold);
}
.the-airtrav-blog {
  position: relative;
  letter-spacing: -0.01em;
  line-height: 60px;
}
.button3 {
  position: relative;
  font-weight: 500;
}
.button2 {
  border-radius: var(--br-7xs);
  background-color: rgba(88, 194, 125, 0.1);
  display: flex;
  flex-direction: row;
  padding: var(--padding-2xs) var(--padding-3xl);
  align-items: center;
  justify-content: center;
}
.jun-202020 {
  position: relative;
  font-size: var(--body-bodi-16-bold-size);
  line-height: 24px;
  color: var(--c4);
}
.top2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 687px;
}
.ways-to-flight {
  position: relative;
  line-height: 41px;
}
.mask-group-icon {
  position: relative;
  width: 898px;
  height: 300px;
  flex-shrink: 0;
  object-fit: cover;
}
.being-a-human {
  position: relative;
  font-size: var(--body-bodi-16-bold-size);
  line-height: 24px;
  color: var(--c3);
  display: inline-block;
  width: 882px;
  height: 50px;
  flex-shrink: 0;
}
.tittle4,
.ways-to-flight-booking-of-the-parent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.ways-to-flight-booking-of-the-parent {
  gap: 28px;
  font-size: var(--h6-28-medium-size);
  color: var(--gray-2);
}
.tittle4 {
  gap: var(--gap-xl);
  text-align: left;
  font-size: var(--body-bodi-12-regular-size);
  color: var(--secondary-green-success);
  font-family: var(--subtitle2-14-medium);
}
.heading-child {
  position: relative;
  background-color: var(--gray-5);
  width: 901px;
  height: 1px;
  flex-shrink: 0;
}
.heading1 {
  width: 1119px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 55px;
  text-align: center;
  font-size: var(--heading-h1-size);
  color: var(--gray-1);
  font-family: var(--body-bodi-16-bold);
}
.image-icon {
  position: relative;
  width: 200px;
  height: 172px;
  flex-shrink: 0;
  object-fit: cover;
}
.button4 {
  border-radius: var(--br-9xs);
  background-color: rgba(250, 143, 84, 0.1);
  display: flex;
  flex-direction: row;
  padding: var(--padding-6xs) var(--padding-mini) var(--padding-5xs);
  align-items: center;
  justify-content: center;
}
.jun-2020201 {
  position: relative;
  font-size: var(--subtitle2-14-medium-size);
  line-height: 21px;
  color: var(--c4);
}
.top3 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-176xl);
}
.top-20-trip {
  margin: 0;
}
.top-20-trip-container {
  position: relative;
  line-height: 30px;
  font-weight: 500;
}
.being-a-human1 {
  position: relative;
  font-size: var(--body-bodi-12-regular-size);
  line-height: 18px;
  color: var(--c3);
  display: inline-block;
  width: 403px;
  height: 54px;
  flex-shrink: 0;
}
.card,
.contents3,
.right2,
.tittle5 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.tittle5 {
  gap: var(--gap-lg);
  font-size: var(--heading-inter-20-bold-size);
  color: var(--gray-1);
}
.card,
.contents3,
.right2 {
  gap: var(--gap-base);
}
.card,
.contents3 {
  flex-direction: row;
  gap: var(--gap-13xl);
}
.card {
  width: 1119px;
  flex-direction: column;
  gap: var(--gap-21xl);
  font-size: var(--font-size-6xs);
  color: var(--orange);
}
.button6 {
  border-radius: var(--br-7xs);
  background-color: var(--secondary-red-red-10);
  display: flex;
  flex-direction: row;
  padding: var(--padding-6xs) var(--padding-mini) var(--padding-5xs);
  align-items: center;
  justify-content: center;
}
.card1 {
  width: 1119px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-21xl);
  color: var(--secondary-red-secondary-g);
}
.button8 {
  border-radius: var(--br-7xs);
  background-color: var(--primary-blue-10);
  display: flex;
  flex-direction: row;
  padding: var(--padding-6xs) var(--padding-mini) var(--padding-5xs);
  align-items: center;
  justify-content: center;
}
.card2 {
  width: 1119px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-21xl);
  color: var(--primary-primary);
}
.button10 {
  border-radius: var(--br-7xs);
  background-color: var(--secondary-orange-orange-10);
  display: flex;
  flex-direction: row;
  padding: var(--padding-6xs) var(--padding-mini) var(--padding-5xs);
  align-items: center;
  justify-content: center;
}
.card3 {
  width: 1119px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-21xl);
  color: var(--secondary-orange-secondary);
}
.button12 {
  border-radius: var(--br-7xs);
  background-color: var(--secondary-green-green-10);
  display: flex;
  flex-direction: row;
  padding: var(--padding-6xs) var(--padding-mini) var(--padding-5xs);
  align-items: center;
  justify-content: center;
}
.card4 {
  width: 1119px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-21xl);
  color: var(--secondary-green-success);
}
.iconloadingline {
  position: relative;
  width: 24px;
  height: 24px;
  flex-shrink: 0;
}
.button14 {
  border-radius: var(--br-11xl);
  border: 1px solid var(--gray-4);
  display: flex;
  flex-direction: row;
  padding: var(--padding-5xs) 36px;
  align-items: center;
  justify-content: center;
  gap: var(--gap-3xs);
}
.button-wrapper {
  width: 825px;
  display: flex;
  flex-direction: column;
  padding: var(--padding-3xs);
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: flex-start;
  font-size: var(--body-bodi-16-bold-size);
  font-family: var(--font-roboto);
}
.logo6 {
  width: 120.24px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.similarly-a-loan1 {
  position: relative;
  line-height: 24px;
  display: inline-block;
  width: 268px;
}
.iconsarrow-right-2line1 {
  position: relative;
  width: 23px;
  height: 23px;
  flex-shrink: 0;
  overflow: hidden;
}
.iconcircle1,
.search-bar1 {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.iconcircle1 {
  border-radius: var(--br-11xl);
  background-color: var(--primary-primary);
  width: 33px;
  height: 33px;
  flex-shrink: 0;
  padding: var(--padding-3xs);
  box-sizing: border-box;
  justify-content: center;
}
.search-bar1 {
  width: 219px;
  justify-content: space-between;
}
.left1,
.search-input1,
.subscrive-button1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.search-input1 {
  border-radius: var(--br-5xl);
  border: 2px solid var(--gray-5);
  padding: var(--padding-5xs) var(--padding-5xs) var(--padding-5xs)
    var(--padding-7xl);
  justify-content: center;
  color: var(--gray-4);
}
.left1,
.subscrive-button1 {
  justify-content: flex-start;
  gap: var(--gap-11xl);
  text-align: left;
  font-size: var(--body-bodi-16-bold-size);
  font-family: var(--body-bodi-16-bold);
}
.left1 {
  gap: var(--gap-21xl);
  text-align: center;
  font-size: var(--heading-inter-20-bold-size);
  font-family: var(--font-gilroy);
}
.services5 {
  position: relative;
  line-height: 36px;
  font-weight: 500;
}
.trip-planner1 {
  position: relative;
  line-height: 24px;
}
.services4,
.trip-planner-group {
  width: 104px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.trip-planner-group {
  gap: var(--gap-sm);
  font-size: var(--body-bodi-16-bold-size);
  color: var(--gray-3);
}
.services4 {
  flex-shrink: 0;
  gap: var(--gap-xl);
}
.account-group {
  width: 139px;
  gap: var(--gap-sm);
  font-size: var(--body-bodi-16-bold-size);
  color: var(--gray-3);
}
.account-group,
.success-group,
.support2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.support2 {
  width: 139px;
  flex-shrink: 0;
  gap: var(--gap-xl);
}
.success-group {
  width: 102px;
  gap: var(--gap-sm);
  font-size: var(--body-bodi-16-bold-size);
  color: var(--gray-3);
}
.business2,
.services3 {
  flex-shrink: 0;
  display: flex;
  align-items: flex-start;
}
.business2 {
  width: 103px;
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap-xl);
}
.services3 {
  height: 232px;
  flex-direction: row;
  justify-content: center;
  gap: var(--gap-133xl);
}
.devider1 {
  position: relative;
  background-color: var(--gray-5);
  width: 1100px;
  height: 1px;
  flex-shrink: 0;
}
.contents9 {
  width: 1100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-52xl);
}
.copyright-2021-uihut1 {
  position: relative;
  line-height: 20px;
}
.icontwitterline-item {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--color-silver-100);
}
.twitter-icon1 {
  position: absolute;
  height: 75%;
  width: 91.67%;
  top: 12.5%;
  right: 4.17%;
  bottom: 12.5%;
  left: 4.17%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.botom1,
.social1 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-sm);
}
.botom1 {
  gap: var(--gap-602xl);
  font-size: var(--subtitle2-14-medium-size);
  color: var(--gray-4);
}
.blog2,
.contents8,
.footer1 {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contents8 {
  width: 1100px;
  justify-content: flex-start;
  gap: var(--gap-21xl);
}
.blog2,
.footer1 {
  background-color: var(--c9);
}
.footer1 {
  padding: var(--padding-49xl) var(--padding-151xl);
  justify-content: center;
  font-size: var(--heading-h3-size);
  font-family: var(--body-bodi-16-bold);
}
.blog2 {
  position: relative;
  width: 100%;
  justify-content: flex-start;
  gap: var(--gap-51xl);
  text-align: left;
  font-size: 7.67px;
  color: var(--gray-2);
  font-family: var(--subtitle2-14-medium);
}
